PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_SANITY_PROJECT_ID=replace-me
PUBLIC_SANITY_DATASET=production
SANITY_API_VERSION=2025-03-01
SANITY_PROJECT_ID=replace-me
SANITY_DATASET=production
SANITY_STUDIO_BASE_PATH=/studio
